*{
    margin: 0;
    padding: 0;

}

.header {
    font-family: 'Product Sans', sans-serif;
    max-width: 100vw;
    height: 5rem;
    margin: 0 auto;
    background: white;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
}
.brand img{
    width: 100px;
}
.brand h1{
    color: #6d7eb3;
    font-size: 2em;
    font-weight: bolder;
}

.brand span{
    color: #f588a0;
}

.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first a{
    color: black;
    text-decoration: none;
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.1s;
    margin: 0 40px 0 40px;
}

.first a:hover{
    color: #6d7eb3;
}

.burgerContainer{
    display: none;
}

.ham{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1);
}

.ham:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bur{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ger{
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: rgb(109, 109, 109);
    transition: 0.5s ease-in-out;
}

.q{
    transform-origin: 0 0;
}

.e{
    transform-origin: 0 100%;
}

.q.a{
    transform: rotate(46.5deg) translate(0, -2px);
    width: 28px;
}

.w.b{
    opacity: 0;
    transform: scale(0);
}

.e.c{
    transform: rotate(-45deg) translate(0.5px, 1.5px);
    width: 28px;
}

#underline{
    text-decoration:underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 6px;
}

body{
   position: relative;
   z-index: -5;
}

.container{
    font-family: 'Product Sans', sans-serif;
    position: relative;
    height: 70vh;
    /* background: linear-gradient(135deg, #f588a0 1%, #6d7eb3 40%); */
    background: #28282B;
    border-radius: 0 0 1000px 0;
    z-index: -3;
} 

.container h1{
    font-weight: bold;
    font-size: 4rem;
    padding: 8vw 0 0 11vw;
    z-index: -2;
    color: white;
}

.container p {
    font-size: 1.5rem;
    padding: 20px 0 0 11vw;
    color: white;
}

.button{
    font-family: 'Product Sans', sans-serif;
    font-weight: bold;
    margin: 40px 0 0 11vw;
    background-color: #f588a0;
    border: none;
    border-radius: 100px;
    color: #28282B;
    padding: 20px 37px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.hero{
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 70vh;
}

.heroimg{
    width: 92%;
    height: 101%;
    background-image: url(./images/dboard.png);
    background-repeat: no-repeat;
    background-position: right;
}

.hook{
    font-family: 'Product Sans', sans-serif;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 4vw;
}
/* #hookcm{
    margin-top: 5vw;
} */
.hook h3{
    font-size: 3rem;
    font-weight: bold;
}

.hook h4{
    font-size: 1.75rem;
    padding-top: 20px;
}

/* .hook p{
    font-size: 1.25rem;
    margin: 20px 20vw 20px 20vw;
} */

.line2{
    height: 2px;
    background: black;
    width: 300px;
    margin-top: 30px;
    text-align: center;
}
.gallery p{
    font-family: 'Product Sans', sans-serif;
    font-size: 1.25rem;
    margin: 20px 20vw 20px 20vw;
}
.content {
    font-family: 'Product Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 60px 11vw 60px 11vw;
    text-align: center;
}

.content h4{
    font-size: 1.75rem;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bold;
}

.content p{
    font-size: 1.25rem;
    margin: 0 50px 0 50px;
    line-height: 25px;
    padding-bottom: 30px;
}
.content img{
    width: 22vw;
}

/* GALLERY */
.gallery{
    z-index: -5;
    position: relative;
}

.grids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 5vw 10vw 0 10vw;
    align-items: center;
}

.grids img{
    width: 23vw;
    padding: 10px;
}

.credits{
    font-family: 'Product Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 40px 0 40px 0;
}

.credits h3{
    padding: 0px 0 45px 0;
    font-weight: bold;
}

.credits .inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20vw 0 20vw;
}
.section{
    height: 80vh;
}
footer{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    /* width: 100vw; */
    padding-top: 40px;
    color: #fff;
}
.footer {
    font-family: 'Product Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer p {
    max-width: 500px;
    line-height: 28px;
    font-size: 15px;
}
.email{
    margin: 20px 0 50px 0;
}
.line{
    height: 1px;
    background: white;
    width: 150px;
    margin-top: 20px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 0 2rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i {
    color: #f588a0;
}
@media(max-width:1200px){
    .grids{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grids img{
        width: 30vw;
    }
}
@media(max-width:992px){
    .first a{
        font-size: 1rem;
    }
    .brand h1{
        font-size: 2em;
    }
}
@media(max-width:975px){
    .heroimg{
        display: none;
    }
    .hero{
        grid-template-columns: 85% 15%;
    }
    .content img{
        width: 300px;
    }
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:840px){
    .content img{
        width: 400px;
    }
    .content {
        grid-template-columns: 1fr;
    }
    .grids{
        grid-template-columns: 1fr 1fr;
    }
    .grids img{
        width: 40vw;
    }
}

@media(max-width:840px){
    .header{
        grid-template-columns: 4fr 0.5fr;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }
    .brand{
        justify-content: center;
        padding-left: 12%;
    }
    .burgerContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuContainer{
        position: absolute;
        width: 100vw;
        height: fit-content;
        margin: 0 auto;
        padding: 50px 0 30px 0;
        box-sizing: border-box;
        background: white;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        z-index: -1;
        transition: 0.3s;
        transform: translate(0,-250px);
    }
    .menuContainer.show{
        transform: translate(0,29%);
    }
    .first{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .first a{
        padding-bottom: 10px;
    }
    .container h1{
        font-size: 3rem;
    }
}

@media(max-width: 567px){
    .brand{
        justify-content: center;
    }
    .container h1{
        font-size: 2rem;
    }
    .container p{
        font-size: 1rem;
    }
    .grids{
        grid-template-columns: 1fr;
    }
    .grids img{
        width: 80vw;
    }
    .credits{
        font-size: 1rem;
    }
}