*{
    margin: 0;
    padding: 0;

}

.header { /*Styling the basics for the header, this is positioning the logo to the left and the text to the right with the grid system as 1fr and 3fr*/
    font-family: 'Product Sans', sans-serif;
    max-width: 100vw;
    height: 5rem;
    margin: 0 auto;
    background: white;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
}
.brand{ /*The brand is the canberra modern logo, this is making it so the logo in centered within its grid template*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
}
.brand img{ /*Classifying the size of the logo*/
    width: 100px;
}

.menuContainer{ /*This is centering the header text in their grid*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.first a{ /*This is styling the header text*/
    color: black;
    text-decoration: none;
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    transition: 0.1s;
    margin: 0 40px 0 40px;
}

.first a:hover{ /*When hovering it changed to one of the CM logo colours*/
    color: #6d7eb3;
}

.burgerContainer{ /*This is setting the hamburger as none so that on larger screen (desktop usually) the menu isnt visible, this changed later on in the @media*/
    display: none;
}

.ham{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1);
}

.ham:hover{ /*This is creating a shadow around the hamburger menu*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bur{ /*Styling the lines on the hamburger menu*/
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ger{ /*Styling the lines on the hamburger menu*/
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: rgb(109, 109, 109);
    transition: 0.5s ease-in-out;
}
/* The following classes are to help with the javascript animation of changing the 3 lines into an X, this is done buy transforming the lines into a different position on the site */
.q{
    transform-origin: 0 0;
}

.e{
    transform-origin: 0 100%;
}

.q.a{
    transform: rotate(46.5deg) translate(0, -2px);
    width: 28px;
}

.w.b{
    opacity: 0;
    transform: scale(0);
}

.e.c{
    transform: rotate(-45deg) translate(0.5px, 1.5px);
    width: 28px;
}

#underline{ /*This is setting the underline on the page that your are on. E.g. On Events page it will be underlined in the header*/
    text-decoration:underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 6px;
}

/*INDEX*/

body{ /*Setting the z-index as it was interfering with other classes*/
   position: relative;
   z-index: -5;
}

.container{ /*This is the hero container on the index page*/
    font-family: 'Product Sans', sans-serif;
    position: relative;
    height: 70vh;
    background: #28282B;
    border-radius: 0 0 1000px 0; /*This is creating the radius in the bottom right, i made his descision as it helps the website flow into the content below it rather than just have a boring rectangle.
    This also was aligned with the CM diving board as the board had a similar curve thaty integrated nicley*/
    z-index: -3;
} 

.container h1{ /*Styling their motto*/
    font-weight: bold;
    font-size: 4rem;
    padding: 8vw 0 0 11vw;
    z-index: -2;
    color: white;
}

.container p { /*Text beneath motto*/
    font-size: 1.5rem;
    padding: 20px 0 60px 11vw;
    color: white;
}

.contact{ /*Creating the contact form section*/
    font-family: 'Product Sans', sans-serif;
    background: #28282B;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact h3{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 100px 0 30px 0;
}

form{ /*Aligning the form*/
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form input, textarea{ /*Styling the input and text boxes*/
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
}

form button{ /*Styling the button to send the form*/
    padding: 15px;
    background: #f588a0;
    color: #28282B;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    margin: 20px auto 100px;
    border-radius: 30px;
}

.button{ /*this is the call to action button on the index page beneath the motto and paragraph*/
    font-family: 'Product Sans', sans-serif;
    font-weight: bold;
    margin: 40px 0 0 11vw;
    background-color: #f588a0;
    border: none;
    border-radius: 100px;
    color: #28282B;
    padding: 20px 37px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer; /*Letting the user know its clickable*/
}

.partnerbutton{ /*Styling the partner button on the partner page to give users access to their websites*/
    font-family: 'Product Sans', sans-serif;
    font-weight: bold;
    background-color: #f588a0;
    border: none;
    border-radius: 100px;
    color: #28282B;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer; /*Letting the user know its clickable*/
}

.partnerbutton:hover{ /*Changing colour on hover letting the user know that it is clickable*/
    background-color: #6d7eb3;
}
 
.hero{ /*This is the grid for the hero*/
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 70vh;
}

.heroimg{ /*Setting the diving board in place, and aligning it with the curve*/
    width: 92%;
    height: 101%;
    background-image: url(./images/dboard.png);
    background-repeat: no-repeat;
    background-position: right;
}

.hook{ /*Styling the title of pages*/
    font-family: 'Product Sans', sans-serif;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 4vw;
}

.hook h3{
    font-size: 3rem;
    font-weight: bold;
}

.hook h4{
    font-size: 1.75rem;
    padding-top: 20px;
}

.line2{ /*This is creating a line beneath titles to give it a seperation*/
    height: 2px;
    background: black;
    width: 300px;
    margin-top: 30px;
    text-align: center;
}
/* .gallery p{
    font-family: 'Product Sans', sans-serif;
    font-size: 1.25rem;
    margin: 20px 20vw 20px 20vw;
} */
.content { /*The grid system for about canberra modern*/
    font-family: 'Product Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 60px 11vw 60px 11vw;
    text-align: center;
}

.content h4{
    font-size: 1.75rem;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bold;
}

.content p{
    font-size: 1.25rem;
    margin: 0 50px 0 50px;
    line-height: 25px;
    padding-bottom: 30px;
}
.content img{ /*Setting the image size*/
    width: 22vw;
}

.partnergrid{
    padding-top: 70px;
}

/* GALLERY */

.gallery{
    z-index: -5;
    position: relative;
}

.grids{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 5vw 10vw 0 10vw;
    align-items: center;
}

.grids img{ /*Setting the size of the images in the gallery*/
    width: 23vw;
    padding: 10px;
}

/*Styling the image credits below the images*/
.credits{
    font-family: 'Product Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 40px 0 40px 0;
}

.credits h3{
    padding: 0px 0 45px 0;
    font-weight: bold;
}

.credits .inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20vw 0 20vw;
}

/* CANBERRA'S MODERN */

.section{
    position: relative;
    z-index: -5;
    font-family: 'Product Sans', sans-serif;
}

#hookcm{ /*Adding extra padding and margin*/
    margin-top: 1vw;
    padding-top: 50px;
}

.section p{ /*Text below subtitle*/
    font-size: 1.25rem;
    margin: 20px 30vw 20px 30vw;
}

.cmgrid{ /*Setting the grid system for the CM page*/
    font-family: 'Product Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5vw 20vw 5vw 20vw;
}
.cmgrid img{ /*setting the image sizes*/
    width: 25vw;
    margin-top: 2.5vw;
}
/*Simple text styling for CM*/
.cmgrid .inner h4{
    margin-top: 2.5vw;
    font-size: 1.5rem;
    font-weight: bold;
}
.cmgrid .inner h5{
    margin-top: 1.5vw;
    font-size: 1.25rem;
}
.cmgrid p{
    margin-top: 1.5vw;
    font-size: 1.1rem;
    font-style: italic;
}
.cmgrid .inner h6{
    margin-top: 1.5vw;
    font-size: 1.25rem;
    color: rgb(172, 26, 26); /*making the 'AT RISK' in red so its stands out more to the user*/
}

/* EVENTS */

.eventcontent { /*The grid system for the events page*/
    font-family: 'Product Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 60px 11vw 60px 11vw;
    text-align: center;
}

/*Simple styling for the text*/
.eventcontent h4{
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: left;
    margin: 0 0 0 4.5vw;
    max-width: 30vw;
}

.eventcontent h5{
    font-size: 1.25rem;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: left;
    margin: 0 0 0 4.5vw;
}

.eventcontent p{
    font-size: 1.25rem;
    margin: 0 50px 0 4.5vw;
    line-height: 25px;
    padding-bottom: 30px;
    text-align: left;
    max-width: 30vw;
}

/*Setting the image size*/
.eventcontent img{
    width: 30vw;
}

/*FOOTER*/

footer{ /*Styling the footer*/
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 40px;
    color: #fff;
}
.footer { /*Styling the footer*/
    font-family: 'Product Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/*Simple text styling for the footer*/
.footer p {
    max-width: 500px;
    line-height: 28px;
    font-size: 15px;
}
.email{
    margin: 20px 0 50px 0;
}
.line{
    height: 1px;
    background: white;
    width: 150px;
    margin-top: 20px;
}

/*This is the small social icons on the top of the footer*/
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 0 2rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i { /*Added a hover affect to on of the CM colours*/
    color: #f588a0;
}

/*MEDIA QUERIES*/
/*Most of these media queries are just adjusting sizing of TEXT, IMAGES and GRIDS for smaller screens*/
@media(max-width:1200px){
    .grids{
        grid-template-columns: 1fr 1fr 1fr; /*Changing grid size for smaller screens*/
    }
    .grids img{
        width: 30vw;
    }
    .section p{
        font-size: 1.25rem;
        margin: 20px 20vw 20px 20vw;
    }
}
@media(max-width:992px){
    .first a{
        font-size: 1rem;
    }
    .brand h1{
        font-size: 2em;
    }
    .cmgrid{
        grid-template-columns: 1fr; /*Changing grid size for smaller screens*/
    }
    .cmgrid img{
        width: 55vw;
    }
}
@media(max-width:975px){
    .heroimg{
        display: none; /*This takes away the diving board from the index page on smaller screen so the user can have better readability for the text next to it*/
    }
    .hero{
        grid-template-columns: 85% 15%;
    }
    .content img{
        width: 300px;
    }
    .content {
        grid-template-columns: 1fr 1fr; /*Changing grid size for smaller screens*/
    }
}

@media(max-width:840px){
    .header{
        grid-template-columns: 4fr 0.5fr; /*Changing grid size for smaller screens*/
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }
    .brand{
        justify-content: center;
        padding-left: 12%;
    }
    .burgerContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuContainer{ /*Adjusting the header*/
        position: absolute;
        width: 100vw;
        height: fit-content;
        margin: 0 auto;
        padding: 50px 0 30px 0;
        box-sizing: border-box;
        background: white;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        z-index: -1;
        transition: 0.3s;
        transform: translate(0,-250px);
    }
    .menuContainer.show{
        transform: translate(0,29%);
    }
    .first{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .first a{
        padding-bottom: 10px;
    }
    .container h1{
        font-size: 3rem;
    }

    .eventcontent {
        grid-template-columns: 1fr; /*Changing grid size for smaller screens*/
    }
    
    .eventcontent h4{
        max-width: 70vw;
    }
    
    .eventcontent p{
        max-width: 70vw;
    }

    .eventcontent img{
        width: 70vw;
    }
    .content img{
        width: 400px;
    }
    .content {
        grid-template-columns: 1fr; /*Changing grid size for smaller screens*/
    }
    .grids{
        grid-template-columns: 1fr 1fr; /*Changing grid size for smaller screens*/
    }
    .grids img{
        width: 40vw;
    }
}

@media(max-width: 567px){
    .brand{
        justify-content: center;
    }
    .container h1{
        font-size: 2rem;
    }
    .container p{
        font-size: 1rem;
    }
    .grids{
        grid-template-columns: 1fr; /*Changing grid size for smaller screens*/
    }
    .grids img{
        width: 80vw;
    }
    .credits{
        font-size: 1rem;
    }
    .section p{
        font-size: 1.1rem;
        margin: 30px 15vw 20px 15vw;
    }
    .cmgrid .inner h4{
        font-size: 1.25rem;
    }
    .cmgrid .inner h5{
        font-size: 1.1rem;
    }
    .cmgrid p{
        font-size: 1rem;
    }
    .cmgrid .inner h6{
        font-size: 1.1rem;
    }
}

@media(max-width: 400px){
    .section p{
        font-size: 1.1rem;
        margin: 90px 10vw 20px 10vw;
    }
    .hook h3{
       margin-top: 50px;
    }
}